.dialog-inner{
	padding:20px;
	background:#fff;
}
.swal2-modal h2 {
    font-size: 16px;
    color: #fff;
    line-height: 0px;
    margin-top: 20px;
}
.swal2-modal .swal2-spacer{
	height:0px;
}
.swal2-modal .styled{
	border: none !important;
    background: #85C1E9 !important;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 2px;
	outline:none;
}
.swal2-modal{
	border-radius:2px;
	background:#444 !important;
}
.dialog-pro .btn-info{
	box-shadow: 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12);
    border: none;
    outline: none !important;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 20px;
    color: #fff;
	background: #85C1E9;
}
.dialog-pro .btn-info:hover{
    border: none;
    outline: none !important;
	background: #85C1E9;
}
.swal2-modal .swal2-content{
	color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}
.swal2-icon.swal2-success::after, .swal2-icon.swal2-success::before{
	background:#444;
}
.swal2-icon.swal2-success .fix{
	background:#444;
}
.swal2-icon.swal2-success .line{
	background-color: #85C1E9;
}
.swal2-icon.swal2-success {
    border-color: #85C1E9;
}